<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AntClub</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/data.css')}}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container text-center">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><strong>蚂蚁學社</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-toggle">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">主页</a></li>
            <li class="hovernav"><a href="/blog">博客</a></li>
            <li class="hovernav"><a href="/data">资料</a></li>
            <li class="hovernav"><a href="/about">关于</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp;注册</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;登陆</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron data-head">
      <div class="container">
        <p class="text-left">
          <h1>蚂蚁资料区</h1>
        </p>
        <h4 class="text-left lead">这些资料出自扎堆学社社内的学霸同学们之手，知识是不可取价的，但我们希望免费分享这些我们的总结，以期来帮助那些总结混乱或者希望得到点拨的同学一起在书的海洋中，乘风破浪！</h4>
      </div>
    </div>
    <div class="slogan">
      <div class="container text-center">
        <strong>肆虐学习吧!</strong>
      </div>
    </div>
    <div class="data">
      <div class="container">
        <h2 class="text-center">资料分类</h2>
        <div class="bar"></div>
        <section class="math row">
          <h3>数学类</h3>
          <hr>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/math.png')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">高等数学</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/a37f823d70cf3bc75c7e1494d200baa1cc112ac7.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">数学分析</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/linear_algebra.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">线性代数</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/8d5494eef01f3a29bf80e4889925bc315c607c2f.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">概率论</h3>
              </div>
            </a>
          </div>
        </section>
        <section class="row physics">
          <h3>物理类</h3>
          <hr>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/math.png')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">大学物理</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/a37f823d70cf3bc75c7e1494d200baa1cc112ac7.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">数字电路</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/linear_algebra.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">模拟电路</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/8d5494eef01f3a29bf80e4889925bc315c607c2f.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">微机原理</h3>
              </div>
            </a>
          </div>

        </section>
        <section class="row politics">
          <h3>政治类</h3>
          <hr>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/math.png')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">思修</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/a37f823d70cf3bc75c7e1494d200baa1cc112ac7.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">近代史</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/linear_algebra.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">马列</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/8d5494eef01f3a29bf80e4889925bc315c607c2f.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">毛概</h3>
              </div>
            </a>
          </div>
        </section>
        <section class="row english">
          <h3>编程类</h3>
          <hr>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/math.png')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">C 语言</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/a37f823d70cf3bc75c7e1494d200baa1cc112ac7.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">数据结构</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/linear_algebra.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">C++ 语言</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="data-block thumbnail">
              <img src="{{url_for('static', filename='images/8d5494eef01f3a29bf80e4889925bc315c607c2f.jpg')}}" alt="math" class="img-responsive">
              <div class="caption">
                <h3 class="text-center">Java 语言</h3>
              </div>
            </a>
          </div>
        </section>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="container row">
          <div class="col-md-4 text-left">
            <h3>联系我们</h3>
            <ul class="list-unstyled">
              <li>Email:<a href="mailto:1106911190@qq.com?subject=feedback" "email me">1106911190@qq.com</a></li>
              <li>RENREN:<a href="http://www.baidu.com" title="蚂蚁学社">蚂蚁学社</a></li>
              <li>QQ:1106911190</li>
              <li>地址：陕西省西安市西安电子科技大学长安校区</li>
            </ul>
          </div>
          <div class="col-md-4 text-left">
            <h3>本站链接</h3>
            <ul class="list-unstyled">
              <li><a href="/blog">蚂蚁博客</a></li>
              <li><a href="/data">蚂蚁资料</a></li>
              <li><a href="/about">关于我们</a></li>
              <li><a href="/register">加入我们</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <img src="{{url_for('static', filename='images/qrcode.jpg')}}" alt="qrcode" class="img-responsive">
          </div>
          <div class="col-md-12 text-center copyright">
          <hr>
            <p class="small">All RIGHT RESERVED , Build By <a href="https://windard.com">Windard</a> </p>
          </div>
        </div>
      </div>
    </footer>
    <div id="back-to-top" class="hidden-xs">▲</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
  </body>
</html>