<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AntClub</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container text-center">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><strong>蚂蚁學社</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-toggle">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">主页</a></li>
            <li class="hovernav"><a href="/blog">博客</a></li>
            <li class="hovernav"><a href="/data">资料</a></li>
            <li class="hovernav"><a href="/about">关于</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp;注册</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;登陆</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main-warpper">
      <div class="main-warpper-inner row">
        <div class="col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8 text-center warpper-container">
          <div class="warpper-center">
            <h1>欢迎来到蚂蚁學社</h1>
            <p class="lead">LET US TALK ABOUT STUDY!</p>
          </div>
          <div class="warpper-button">
            <a href="/register" class="btn btn-lg">加入我们</a>
            <a href="/about" class="btn btn-lg">了解更多</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slogan">
      <div class="container text-center">
        <strong>书山有路勤为径，学海无涯苦作舟！</strong></div>
    </div>
    <div class="jumbotron introduction text-center">
      <div class="container row">
        <h2>简介</h2>
        <div class="bar"></div>
        <section class="col-md-5 col-md-offset-1 hidden-xs ">
          <p>我无法否认学习之苦，学习之累，但甘守学习的苦才能享受学习的甜。 在校园里，我们快乐地成长，为理想而奋斗！遨游学海，跋涉书山，知识上的满足给我们快乐；山重水复，曲径通幽，破解难题的柳暗花明给我们快乐；思想境界上的不断开阔，心灵上的不断净化给我们快乐。</p>
        </section>
        <section class="col-xs-12 visible-xs-block">
          <p>读史使人明智,读诗使人灵秀,数学使人周密,自然哲学使人精邃,伦理学使人庄重,逻辑修辞学使人善辩。</p>
        </section>
        <section class="col-md-5 hidden-xs">
          <p>读史使人明智,读诗使人灵秀,数学使人周密,自然哲学使人精邃,伦理学使人庄重,逻辑修辞学使人善辩。记得爱因斯坦曾说：千万不要把学习当成一个任务，而应该看成一个令人羡慕的机会。是的，只要我们不辞劳苦，敢于面对学习中的困难，你会发现，学习中自有情趣，更有快乐。</p>
        </section>
        <section class="col-xs-12 visible-xs-block">
          <p>蚂蚁学社，共同学习，共同进步，让我们一起在知识的海洋里遨游，沉迷学习，不能自拔。</p>
        </section>
      </div>
    </div>
    <div class="container-fluid things text-center">
      <div class="container row">
        <h2>在这里一直发生的事情</h2>
        <div class="bar"></div>
        <div class="col-md-6 row">
          <div class="col-md-4">
            <img src="{{url_for('static', filename='images/discover.png')}}" alt="discover" class="img-responsive">
          </div>
          <div class="col-md-8">
            <h3>探索</h3>
            <p>这里定期都会开展沙龙，探讨大学生时代最时髦最有趣的话题，若你是一个肯思考的少年，这里肯定适合你。</p>
          </div>
        </div>
        <div class="col-md-6 row">
          <div class="col-md-4">
            <img src="{{url_for('static', filename='images/engineer.png')}}" alt="discover" class="img-responsive">
          </div>
          <div class="col-md-8">
            <h3>学习</h3>
            <p>这里定期都会开展沙龙，探讨大学生时代最时髦最有趣的话题，若你是一个肯思考的少年，这里肯定适合你。</p>
          </div>      
        </div>
        <div class="col-md-6 row">
          <div class="col-md-4">
            <img src="{{url_for('static', filename='images/planning.png')}}" alt="discover" class="img-responsive">
          </div>
          <div class="col-md-8">
            <h3>策划</h3>
            <p>这里定期都会开展沙龙，探讨大学生时代最时髦最有趣的话题，若你是一个肯思考的少年，这里肯定适合你。</p>
          </div>
        </div>
        <div class="col-md-6 row">
          <div class="col-md-4">
            <img src="{{url_for('static', filename='images/growth.png')}}" alt="discover" class="img-responsive">
          </div>
          <div class="col-md-8">
            <h3>成长</h3>
            <p>这里定期都会开展沙龙，探讨大学生时代最时髦最有趣的话题，若你是一个肯思考的少年，这里肯定适合你。</p>
          </div>
        </div>
      </div>
    </div>
    <div id="carousel-examples" class="carousel slide examples" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-examples" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-examples" data-slide-to="1"></li>
        <li data-target="#carousel-examples" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner hidden-xs hidden-sm" role="listbox">
        <div class="item active">
          <img src="{{url_for('static', filename='images/barback.jpg')}}" alt="barback">
          <div class="carousel-caption row">
            <div class="col-md-4">
              <img src="{{url_for('static', filename='images/team_mate.jpg')}}" alt="" class="img-circle img-responsive">
            </div>
            <div class="col-md-8">
              <p class="lead">“加入扎堆一年来，本以为扎堆是一个学霸密集，高度紧张的组织，相反，这里有的更多是自由，融洽和友善。这里不拘泥于形式，不用为了完成任务而刷夜，这里有一群有趣的人，一群既能一起学又能一起闹的小伙伴.”
              </p>
              <p class="text-right"><em>-----扎堆学社社员：</em><strong>何铭</strong></p>
            </div>  
          </div>
        </div>
        <div class="item">
          <img src="{{url_for('static', filename='images/barback.jpg')}}" alt="barback">
        <div class="carousel-caption row">
          <div class="col-md-4">
            <img src="{{url_for('static', filename='images/team_mate.jpg')}}" alt="" class="img-circle img-responsive">
          </div>
          <div class="col-md-8">
            <p class="lead">“加入扎堆一年来，本以为扎堆是一个学霸密集，高度紧张的组织，相反，这里有的更多是自由，融洽和友善。这里不拘泥于形式，不用为了完成任务而刷夜，这里有一群有趣的人，一群既能一起学又能一起闹的小伙伴.”
            </p>
            <p class="text-right"><em>-----扎堆学社社员：</em><strong>何铭</strong></p>
          </div>  
        </div>
        </div>
        <div class="item">
          <img src="{{url_for('static', filename='images/barback.jpg')}}" alt="barback">
        <div class="carousel-caption row">
          <div class="col-md-4">
            <img src="{{url_for('static', filename='images/team_mate.jpg')}}" alt="" class="img-circle img-responsive">
          </div>
          <div class="col-md-8">
            <p class="lead">“加入扎堆一年来，本以为扎堆是一个学霸密集，高度紧张的组织，相反，这里有的更多是自由，融洽和友善。这里不拘泥于形式，不用为了完成任务而刷夜，这里有一群有趣的人，一群既能一起学又能一起闹的小伙伴.”
            </p>
            <p class="text-right"><em>-----扎堆学社社员：</em><strong>何铭</strong></p>
          </div>  
        </div>
        </div>
      </div>
      <!-- Controls -->
    </div>
    <div class="groups">
      <div class="container row text-center">
        <h2>下设分组</h2>
        <br>
        <div class="col-md-3">
          <div class="main">
            <h3>资料组</h3>
            <div class="bar"></div>
            <p>资料组会不定期面向全校发放社内学霸成员整理的各科纸质资料，并在官网上附上电子版。学社内部还会定期举办各种组如数学角，物理角等学科角及沙龙活动</p>
            <a href="/data" class="btn">了解更多&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="main">
            <h3>授课组</h3>
            <div class="bar"></div>
            <p>资料组会不定期面向全校发放社内学霸成员整理的各科纸质资料，并在官网上附上电子版。学社内部还会定期举办各种组如数学角，物理角等学科角及沙龙活动</p>
            <a href="/data" class="btn">了解更多&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="main">
            <h3>宣传组</h3>
            <div class="bar"></div>
            <p>资料组会不定期面向全校发放社内学霸成员整理的各科纸质资料，并在官网上附上电子版。学社内部还会定期举办各种组如数学角，物理角等学科角及沙龙活动</p>
            <a href="/data" class="btn">了解更多&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>           
          </div>
        </div>
        <div class="col-md-3">
          <div class="main">
            <h3>外联组</h3>
            <div class="bar"></div>
            <p>资料组会不定期面向全校发放社内学霸成员整理的各科纸质资料，并在官网上附上电子版。学社内部还会定期举办各种组如数学角，物理角等学科角及沙龙活动</p>
            <a href="/data" class="btn">了解更多&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <div class="main">
            <h3>英语角</h3>
            <div class="bar"></div>
            <p>资料组会不定期面向全校发放社内学霸成员整理的各科纸质资料，并在官网上附上电子版。学社内部还会定期举办各种组如数学角，物理角等学科角及沙龙活动</p>
            <a href="/data" class="btn">了解更多&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="main">
            <h3>策划组</h3>
            <div class="bar"></div>
            <p>资料组会不定期面向全校发放社内学霸成员整理的各科纸质资料，并在官网上附上电子版。学社内部还会定期举办各种组如数学角，物理角等学科角及沙龙活动</p>
            <a href="/data" class="btn">了解更多&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="container row">
          <div class="col-md-4 text-left">
            <h3>联系我们</h3>
            <ul class="list-unstyled">
              <li>Email:<a href="mailto:1106911190@qq.com?subject=feedback" "email me">1106911190@qq.com</a></li>
              <li>RENREN:<a href="http://www.baidu.com" title="蚂蚁学社">蚂蚁学社</a></li>
              <li>QQ:1106911190</li>
              <li>地址：陕西省西安市西安电子科技大学长安校区</li>
            </ul>
          </div>
          <div class="col-md-4 text-left">
            <h3>本站链接</h3>
            <ul class="list-unstyled">
              <li><a href="/blog">蚂蚁博客</a></li>
              <li><a href="/data">蚂蚁资料</a></li>
              <li><a href="/about">关于我们</a></li>
              <li><a href="/register">加入我们</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <img src="{{url_for('static', filename='images/qrcode.jpg')}}" alt="qrcode" class="img-responsive">
          </div>
          <div class="col-md-12 text-center copyright">
          <hr>
            <p class="small">All RIGHT RESERVED , Build By <a href="https://windard.com">Windard</a> </p>
          </div>
        </div>
      </div>
    </footer>
    <div id="back-to-top" class="hidden-xs">▲</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
  </body>
</html>